<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/x-icon"
            href="https://rx-vietnamshows.com/favico.ico"
        />
        <title>RX Tradex</title>
        <style>
            body {
                margin: 0;
                padding: 0;
            }

            section {
                min-height: 100vh;
                min-width: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <section>
            <img
                src="https://chart.googleapis.com/chart?cht=qr&chs=250x250&chl=<%=url%>&style=197&type=C128B&width=271&height=50&xres=1&font=3"
            />
        </section>
    </body>
</html>
